[2021-09-05 09:59] andrewhilson opened #11 "Hide booking times that have already passed"
Looking for appointments renders appointments today (which is good) but shows times that have passed (eg. Pharmacy in Rosedale, Auckland showing appointments for this morning)

[2021-09-05 10:00] andrewhilson commented on #11
![D7831BA2-FCE7-4BB9-93B1-1288A342083B](https://user-images.githubusercontent.com/4552220/132122837-0c702ee3-473d-4bbb-b6f9-63592537e060.png)

[2021-09-05 10:08] waltzaround commented on #11
Cheers for that @andrewhilson - we're working on walk-in venues atm, and this has been queued up next

PRs are welcome if you're keen to fix 🔥

[2021-09-05 11:16] waltzaround opened #12 "Walk-in locations"
Getting walk-ins

[2021-09-05 11:17] waltzaround opened #13 "Walk-in locations design / UI"

[2021-09-06 02:33] orb16 opened #17 "Note that not all booking options are searched"
The header on your page says "See every available vaccination booking slot near you."

But I'm not sure it's showing the booking slots that are available that are outside the official booking system? There's quite a few at bargain chemist in CHCH https://www.bargainchemist.co.nz/pages/covid-19-vaccination as well as Unichem in CHCH https://unichemcashelpharmacy.gettimely.com/ From what I could see

[2021-09-06 03:53] waltzaround opened #18 "Investigate missing locations on backend - Glen Innes vaccination centre missing"
Quick one, which may be user issue on my part but Glen Innes vaccination centre seems to be missing here?
It's right next to Mt Wellington centre so figured they'd be together. (edited) @oeed

To be investigated

[2021-09-06 04:45] This-Is-Alex opened #19 "Village Health - Christchurch missing"
Village Health - Christchurch on Lincoln road is missing from the site

[2021-09-06 05:50] waltzaround commented on #18
user error - location was too far away

[2021-09-06 05:50] #18 closed

[2021-09-06 05:52] #11 closed

[2021-09-06 05:53] waltzaround commented on #19
hmm looks like it should be listed on the BookMyVaccine site, will investigate https://www.villagehealth.co.nz/covid-19-vaccine-information/

[2021-09-06 06:06] waltzaround commented on #19
Might be something either with our location scraper or the managemyhealth site - will keep looking and get back to ya

[2021-09-06 06:08] noway commented on #19
working on this now

[2021-09-06 06:41] william0884 opened #23 "Link for map directions broken"
Hello,

An example where link to map is broken:

Epsom Vaccination Centre
382 Manukau Road Epsom, Auckland 1344. Parking at Alexandra Park, entry from 30 Campbell Crescent. (4km away)

And the link for walking direction:
https://www.google.com/maps?t=r&daddr=382+Manukau+Road+Epsom,+Auckland+1344.+Parking+at+Alexandra+Park,+entry+from+30+Campbell+Crescent.&dirflg=w

The link shouldn't include the P

[2021-09-06 07:09] waltzaround commented on #23
ty for this @william0884 - queued up to fix

[2021-09-06 07:19] waltzaround opened #26 "add sites and data from Bargain Chemists"
As a vaxx user
I want to see ways to get vaxxed at Bargain Chemists
So that I can get vaccinated, and be less affected by COVID

This covers scraping the bargain chemists, and storing the results somewhere https://www.bargainchemist.co.nz/pages/covid-19-vaccination

[2021-09-06 10:34] oeed commented on #19
We're not automatically adding new locations so this is now fixed!

[2021-09-06 10:34] #19 closed

[2021-09-06 10:42] waltzaround opened #27 "Adding branches and datasets that are not in the Ministry of Health database"

[2021-09-06 10:56] oeed commented on #17
Thanks for alerting us! Unichem Cashel appears to not be included on the bookmyvaccine.nz website data, hence why it's not included. It seems many Unichem pharmacies don't list on the website, the ones just listing their phone number [here](https://www.unichem.co.nz/article?id=41502) seem to be missing.

We'd definitely like to add those, but at this stage we want to get the data for the majority

[2021-09-06 10:56] #13 closed

[2021-09-06 11:03] oeed commented on #23
This is because the address data is rather poor, we'll change to using lat long instead.

[2021-09-06 11:17] waltzaround opened #28 "Create and show venue types as tags"
walk-ins and drive-throughs, enrolled GP only, etc etc

[2021-09-06 12:41] #12 closed

[2021-09-06 18:51] tausani-ah-chong opened #29 "Minor - Link to 'bookmyvaccine.nz' broken in README"
Hey team!

Loving the work so far! This is inspiring to me as a junior dev. Would love to help out where I can :)

----------------------

Just a minor fix to link in the first paragraph of the `README`

The link currently takes you to here:

<img width="450" alt="Screen Shot 2021-09-07 at 6 40 38 AM" src="https://user-images.githubusercontent.com/58315812/132253648-d352474e-bca8-467d-a777-cf4b14a

[2021-09-06 20:39] noway commented on #29
thanks for the fix!

[2021-09-06 20:39] #29 closed

[2021-09-06 21:06] oeed commented on #23
Fixed by #31

[2021-09-06 21:06] #23 closed

[2021-09-06 21:47] waltzaround opened #32 "usability improvements for touch - as there are no hover states on mobile / tablet"

[2021-09-07 06:17] #32 closed

[2021-09-07 08:41] olafwrieden opened #35 "Add Internationalisation to make Vaxx accessible in other languages"
Implement i18n in React, outsource translations to the community

[2021-09-07 09:27] rquitales opened #37 "Show number of vaccination sites on calendar container"
When using the app, I was excited to see days that had a lot of available time slots, only to be disappointed when drilling down onto that day and discovering that the slots are only for 1 vaccination centre that is in an inconvenient location.

I propose adding another line of text under each calendar entry that indicates how many locations there are as well.

[2021-09-07 10:15] oeed opened #39 "Going back after setting the location does not revert to the default location"
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://vaxx.nz/'
2. Pick a location, i.e. 'Epsom'
3. Press the back button, it'll leave Epsom showing in the location picker.

[2021-09-07 10:42] waltzaround opened #41 "Create a submission form for vaccine sites that aren't listed on BookMyVaccine"
As a covid vaccine site operator who isnt listed on BookMyvaccine
I want to submit details about my vaccine site in a form
So the Vaxx team can receive my site information for review so they can put it on the website

Create a submission form for vaccine sites that aren't listed on BookMyVaccine

[2021-09-07 11:27] waltzaround commented on #37
Thoughts on trying out distance from centre instead?

[2021-09-08 02:29] waltzaround opened #47 "Page stuck in infinite loading state when no location is set"
Page wont load if no location is set

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'vaxx.nz
2. dont set a location
3. wait for listings to load

[2021-09-08 06:14] waltzaround opened #48 "Better Integration with Ministry of Health"
Implementing the following:
- improving update speed
- publishing data in a cleaner format for other people to use

[2021-09-08 06:20] oeed commented on #26
Duplicate of #27

[2021-09-08 06:20] #26 closed

[2021-09-08 06:25] #28 closed

[2021-09-08 06:26] oeed commented on #41
@waltzaround can you clarify what a one off site is?

[2021-09-08 06:28] waltzaround commented on #41
editing now

[2021-09-08 07:59] oeed opened #54 "Sort locations in the booking modal"
When you open the booking modal by clicking a date on the calendar, let users sort by:
- distance
- number of slots available

[2021-09-08 08:25] oeed opened #55 "Document the various data APIs"
While the data is public isn't not at all obvious at the moment how to actually use the data. It'd be good to create a doc that illustrates how the data is structured and what's needed to use it.

[2021-09-08 09:33] rquitales commented on #37
Closing this out. Will maintain own fork.

[2021-09-08 09:33] #37 closed

[2021-09-08 13:59] noway opened #61 "`Warning: validateDOMNesting(...): <h3> cannot appear as a descendant of <p>.`"
**Describe the bug**
`Warning: validateDOMNesting(...): <h3> cannot appear as a descendant of <p>.` when openning a day

**To Reproduce**
Steps to reproduce the behavior:
1. run on local
2. open day
3. see it in console in devtools

**Additional context**
it's just a react warning, needs fixing pretty annoying

[2021-09-08 14:02] noway opened #64 "Language select label doesn't change when selecting another language"
**Describe the bug**
Language select label doesn't change when selecting another language

**To Reproduce**
Steps to reproduce the behavior:
1. Go to vaxx.nz
2. Click on English
3. Select some other language
4. The language label doesn't change

**Additional context**
Something is up with the way we're using Select component from base web

[2021-09-09 01:13] noway opened #68 "persisting the language selection to localStorage"
**Is your feature request related to a problem? Please describe.**
E.g. I'm always frustrated when my language selection doesn't save.

**Describe the solution you'd like**
persisting the language selection to localStorage

[2021-09-09 01:14] noway commented on #35
we shipped the MVP of this feature

[2021-09-09 01:14] #35 closed

[2021-09-09 02:26] Francismb commented on #64
Ill take a look at this one 👍

[2021-09-09 02:52] oeed commented on #68
Closed by #70

[2021-09-09 02:52] #68 closed

[2021-09-09 03:11] Francismb commented on #64
https://github.com/CovidEngine/vaxxnz/pull/72

[2021-09-09 03:43] Francismb commented on #54
It looks like it is already sorted by distance... I think what would be very beneficial is to be able to select the time that you want to get a vaccine and it shows you the nearest locations that can provide a vaccine at that time?

[2021-09-09 03:45] Francismb commented on #47
I was not able to reproduce this, I believe the location defaults to Auckland and you cannot clear the selection?

[2021-09-09 03:59] oeed commented on #54
Yeah this came up on the Discord last night. You raise a good point though, number of lots available isn't really helpful on it's own.

Maybe we could have a way of filtering out/dimming times? i.e. let users pick 'morning', 'midday', etc. and times outside that are hidden/dimmed? Thoughts @waltzaround ?

[2021-09-09 04:02] BenRauzi commented on #61
Can be closed

[2021-09-09 04:05] Francismb commented on #39
https://github.com/CovidEngine/vaxxnz/pull/63

[2021-09-09 04:22] noway commented on #64
thank you!

[2021-09-09 04:22] #64 closed

[2021-09-09 04:22] noway commented on #61
True, thank you guys!

[2021-09-09 04:22] #61 closed

[2021-09-09 04:25] noway opened #74 "Loading state layout is not properly aligned"
**Describe the bug**
Loading state layout is not properly aligned

**To Reproduce**
Steps to reproduce the behavior:
1. Switch between radius
2. observe loading state
3. styling is not right

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132622255-59350fbd-4eb4-4ad0-a68d-cd416120cae4.png)

[2021-09-09 04:47] Francismb commented on #54
I think that is a much better solution! Currently I also feel the user needs to scroll quite a bit in order to see all available times for all locations on that date.

[2021-09-09 05:10] Abhijnan-Bajpai commented on #74
Hey @noway , I would like to work on this. Could I be assigned this issue?

[2021-09-09 05:35] oeed opened #77 "Prettier pre-commit hook"

[2021-09-09 05:49] oeed commented on #47
Appears to have been internet issues by the reported error.

[2021-09-09 05:49] #47 closed

[2021-09-09 08:31] Francismb commented on #77
Will have a look into this using Github actions. I presume it is to ensure consistent styles?

[2021-09-09 08:41] Francismb commented on #77
Solving this with husky + pretty-quick npm packages.

[2021-09-09 08:42] wseagar opened #83 "Refactor: Modal component"
For the BaseWeb modal component we've currently done the styling in JS. This ugly bit of styling code is copy pasted to all the Modals on the site.

It would be nice if we could abstract this styling code and the modal out into a common modal component.

https://github.com/CovidEngine/vaxxnz/blob/04aee7c42eafa2dcd3f91d94deb170e9ef8fe8d7/src/walk-in/modal/WalkInModal.tsx#L49

[2021-09-09 08:47] wseagar opened #84 "Warning message when selecting a large radius larger than 10km"
The offical guidance from the Ministry Of Health is that you shouldn't be travelling too far out of your local area to get a vaccine.

We should show a message letting users know that its not recommended to travel outside of their local area to get a vaccine when they are filtering by any radius larger than 10km.

[2021-09-09 09:55] oeed opened #85 "Move 'other location' data in to a separate fetched file"
Currently the data for other locations is baked in to the JS, it'd be better to fetch it separately like we do with other data.

[2021-09-09 11:30] gpoliko opened #88 "Code Linting with ESLint is not setup"
create-react-app ships with ESLint and it seems it is not being used. There's no `"lint"` script in the `package.json`, yet there is an `eslintConfig`.

![image](https://user-images.githubusercontent.com/60165179/132750128-a5527d51-c37e-403e-a5e3-d361e63225be.png)

Re-implement linting as it seems the project is setting up code best practices. See https://github.com/CovidEngine/vaxxnz/issues/77

[2021-09-09 11:31] noway commented on #74
@Abhijnan-Bajpai sorry for late replay, yeah go ahead

[2021-09-09 21:25] gpoliko commented on #88
Wouldn't say this is a bug. Labels cannot be changed.

[2021-09-09 22:26] noway opened #90 "Use URL search params as lat/lng/placeName 'state'"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when it's confusing and error prone to deal with lat/lng/placeName in our code. Initial implementation was shipped on a tight timeline, it was improved a bit now, but we can make it even better.

**Describe the solution you'd like**
Only have lat/lng/placeName state in URL. If you want to change those paramete

[2021-09-09 22:36] noway opened #91 "Implement a nicer-looking error state"
**Is your feature request related to a problem? Please describe.**
The error message is a bit cluttered among other content. It needs room to breath. Maybe add an icon or an SVG image too to make it fun too?

**Describe the solution you'd like**
Design a better error state which looks better than what we have now.

**Additional context**
![image](https://user-images.githubusercontent.com/2031472/1

[2021-09-09 22:38] noway opened #92 "The doctor image is levitating on some locales"
**Describe the bug**
Doctor image is a bit off from the container on some languages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main site.
2. Select Espanol
3. See doctor image. It's different from English language.

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132771589-f3333611-82bc-4ede-a344-e17e69dade4a.png)

**Additional context**
We should fix i

[2021-09-09 22:42] noway opened #93 "Clicking radius filter on mobile brings up keyboard"
**Describe the bug**
Clicking radius filter on mobile brings up keyboard. It shouldn't, there's no text to input.

**To Reproduce**
Steps to reproduce the behavior:
1. Open vaxx.nz on mobile
2. Click "within 10km"
3. You'll see keyboard pop up
4. It shouldn't

**Screenshots**
![IMG_929F609BEDA9-1](https://user-images.githubusercontent.com/2031472/132771815-2a63e6d3-b5de-4978-8332-85d1d41b04b7.jpeg

[2021-09-10 01:03] waltzaround commented on #91
i would suggest a min-height css container as well on the empty state to reduce the amount of CLS

https://web.dev/cls/ for reference

[2021-09-10 03:52] waltzaround commented on #91
We have some design being worked on atm - all contributions welcome

[2021-09-10 04:31] oeed commented on #39
Fixed by #63

[2021-09-10 04:31] #39 closed

[2021-09-10 04:40] gpoliko commented on #88
Closing lint/prettier are behaving as expected, mentioned PR https://github.com/CovidEngine/vaxxnz/pull/94

[2021-09-10 04:40] #88 closed

[2021-09-10 06:42] noway opened #98 "Shareable links for languages"
**Is your feature request related to a problem? Please describe.**
E.g. I'm always frustrated when my family member sends me a website link, but it's not in my native language.

**Describe the solution you'd like**
Shareable link to your language. Either ?lang=lang or maybe /lang? Not sure

[2021-09-10 09:26] waltzaround commented on #54
Agreed,  would be worth exploring how we aggregate and sort by time here

[2021-09-10 09:28] waltzaround commented on #54
so as opposed to how we do it now

site
 - time slot
 - time slot
 - time slot

 Maybe a toggle that changes it to

 time
 - site
 - site
 - site

[2021-09-10 09:55] tausani-ah-chong commented on #90
@noway I'll have a go at tackling this one!

[2021-09-10 10:51] tausani-ah-chong opened #111 "Setting location by a city doesn't retrieve the city name"
**Describe the bug**
Setting location by a city doesn't retrieve the city name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'vaxx.nz'
2. Click on `set your location` to any city/region e.g. Rotorua
3. placeName gets set to either lat or lng in both URL and location picker

**Screenshots**
<img width="1792" alt="Screen Shot 2021-09-10 at 10 15 05 PM" src="https://user-images.githubus

[2021-09-10 11:09] noway commented on #111
makes sense. i'll look into it

[2021-09-10 11:27] gpoliko commented on #111
Seems to be the same for certain suburbs.

![image](https://user-images.githubusercontent.com/60165179/132846569-b10c330d-f1ca-45b3-a405-ca65d14f52a2.png)

![image](https://user-images.githubusercontent.com/60165179/132846654-56727530-e5ae-4771-aed0-ad3f5cd12bfe.png)

[2021-09-10 11:35] tausani-ah-chong commented on #111
@noway Apologies if you've already started having a look into this, but I've potentially got a fix for this while having a look into #90

[2021-09-10 12:28] aar-ish commented on #92
Hey @noway I would like to contribute in this issue.

[2021-09-10 12:29] noway commented on #74
this has been done

[2021-09-10 12:29] #74 closed

[2021-09-10 12:48] #111 closed

[2021-09-10 12:51] noway opened #114 "When selecting Auckland Region in location selector, no results are yielded."
**Describe the bug**
When selecting Auckland Region or Wellington Region in location selector, no results are yielded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Search Auckland Region
3. No results shown

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132855852-31cdc98f-ea31-463d-a9a4-670988ee3f0a.png)

**Additional context**
I think the bes

[2021-09-10 12:52] noway commented on #92
@aar-ish yeah totally go ahead! Assigned to you.

[2021-09-10 12:52] noway commented on #93
That's been fixed, props to @allen1996 !

[2021-09-10 12:53] #93 closed

[2021-09-10 12:55] noway commented on #111
Brilliant, thanks for tackling this!

[2021-09-10 12:59] aar-ish commented on #92
Can you suggest me some ways to get started?

[2021-09-10 13:02] noway opened #115 "Optimise render method"
**Describe the bug**
Our site is getting a bit laggy. We do a lot of data processing in render method - we should memoize it as much as possible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Open React Profiler
3. Start profiling
4. Open a modal
5. Observe long-running renders

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132857085-b72bf979-b

[2021-09-10 13:03] tausani-ah-chong commented on #111
Welcome!

[2021-09-10 13:05] noway opened #116 "The fonts are mismatched for different languages"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Click on the language selector
3. Observe mismatched font styles

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132857766-2564543e-92bf-4844-ad1c-7a133b481d27.png)
should look more like this
![image](https://user-images.githubu

[2021-09-10 13:10] noway commented on #92
@aar-ish Here's the guide on how you can get started! https://github.com/CovidEngine/vaxxnz/blob/main/CONTRIBUTORS_DEV.md

[2021-09-10 13:11] aar-ish commented on #92
Thank a lot

[2021-09-10 13:14] noway commented on #85
Let's create another repo just for crowdsourced locations. And fetch it via githubusercontent just like we do for vaxxnzlocations. Feel free to come up with a cool new name for it.

[2021-09-10 13:17] noway commented on #77
We shipped pre-commit hook (props to all the great PRs above, nice work!), GH action for it is still outstanding, but that's outside of scope of this particular issue.

[2021-09-10 13:17] #77 closed

[2021-09-10 13:18] noway opened #117 "DX: GH action for prettier"
There's currently an outstanding PR for GH action for prettier. Tracking the progress here as well.

[2021-09-10 13:20] noway commented on #41
We need a design for this.

[2021-09-10 14:36] olafwrieden opened #119 "Add an on-brand cookie banner to the website"
**Is your feature request related to a problem? Please describe.**
It's good practice to supply a cookie notice on the website as we have implemented GA and potentially other cookies.

**Describe the solution you'd like**
1. Design an unobtrusive cookie notification that looks better and more on-brand than the default `react-cookie-consent` library banner.
2. Implement a cookie notice library that

[2021-09-10 15:06] Abhijnan-Bajpai commented on #119
Hey @olafwrieden, I would like to work on this, could I be assigned?

[2021-09-10 15:13] olafwrieden commented on #119
For sure @Abhijnan-Bajpai - I'd like to see if we can customise the banner drastically, as the default provided by https://www.npmjs.com/package/react-cookie-consent looks terrible.

Please liaise with the `#design` channel and @waltzaround (Walt) to come up with an on-brand design. Maybe we can have it floating left or right bottom corner? Up to the design team.

I'll be in the Discord today so p

[2021-09-10 15:27] Abhijnan-Bajpai commented on #119
Hey thanks for pointing me in the right direction, but I don't have the link for the discord server. Could you send it over to abhijnanbajpai@outlook.com, if it's not to be disclosed publicly.

[2021-09-10 15:32] olafwrieden commented on #119
@Abhijnan-Bajpai the community is here: https://discord.gg/f3dDdGfk - Join, intro yourself, read contributor guide in our repo, and tag me if you need help

[2021-09-10 20:38] dialectrical commented on #116
I took a look at this and it looks like there were two problems. First, Work Sans doesn't seem to handle Cyrillic, so `LanguageSelect.tsx` goes looking for the next font, and when it looks in `VaxxTheme.js` it goes straight to sans-serif, rather than something like Roboto that does handle Cyrillic.

I added the font stack from `index.css` ("Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI"

[2021-09-10 22:23] oeed commented on #119
I think the sentiment from Discord is that this mightn't be necessary to show, but it's an open discussion: https://discord.com/channels/884578058911219743/884714023323586600/886006824061517855

[2021-09-10 22:52] noway commented on #116
Awesome, solved! Thanks to @dialectrical for figuring it out 💯

[2021-09-10 22:52] #116 closed

[2021-09-10 23:15] oeed opened #123 "Language picker should show 'English' by default"
**Describe the bug**
Currently the language picker says 'Language' by default. For someone who doesn't know English, they mightn't know what language means and to click there to change it. I would assume though that they recognise 'English' as a place to change the language.

This stays as English once set in local storage though.

[2021-09-11 00:11] noway opened #125 "Layout issue: some languages are wrapped over to the new line"
**Describe the bug**
Some language names are a bit too long and are wrapped over to the new line. We shouldn't word wrap in that dropdwon.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Click on language selector

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132929345-31769218-a6b5-4b17-a7b3-0591cbf9d1ce.png)

**Additional context**
Add any oth

[2021-09-11 00:17] noway opened #126 "Border width is inconsistent across the website"
**Describe the bug**
We use a variety of border widths. Looks untidy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Click into a "Open today" website
3. " Walk-in vaccinations available" border is different from calendar border

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132929582-aac2e00e-e2bb-484e-a3ff-345b6d6b17e2.png)

**Additional conte

[2021-09-11 01:06] waltzaround commented on #123
empty state also violates aria contrast accessibility

[2021-09-11 01:08] waltzaround opened #129 "Create privacy policy page"
As a user, I want to see a privacy policy
so that I know how my data is being treated and I have peace of mind

This issue covers the creation of a privacy policy, and the addition of a link to it at the footer of the page

[2021-09-11 01:08] noway opened #130 ""Public Holidays" for Life Pharmacy St Lukes is cut-off"
**Describe the bug**
"Public Holidays" text for Life Pharmacy St Lukes is cut-off

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Find Life Pharmacy St Lukes in Open Today
3. Observe Public Holidays

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132931323-8210c419-7e3c-402d-a925-286552d5f263.png)
![image](https://user-images.githubusercontent.com

[2021-09-11 01:13] olafwrieden opened #131 "Internationalise Healthpoint Instructions"
**Is your feature request related to a problem? Please describe.**
Please internationalise the Healthpoint instructions in `HealthpointData.ts` by adding them to the i18n translations file.

[code]

[2021-09-11 01:29] noway opened #132 "Use AddressFinder.nz for reverse geocoding."
**Is your feature request related to a problem? Please describe.**
We switched Google Autocomplete to AddressFinder.nz autocomplete, but:
We still use Google Reverse Geocoding to fetch suburb name for the "Use my current location" feature.
![image](https://user-images.githubusercontent.com/2031472/132931893-73e7a86a-f3a2-4c60-b900-3a7b1d121338.png)

**Describe the solution you'd like**
Can we use

[2021-09-11 01:31] waltzaround commented on #119
If we do, imo only show in europe

[2021-09-11 01:38] olafwrieden commented on #119
I think this is a good first issue for @Abhijnan-Bajpai. Could we get a design for them to work with? Let's build the prototype, deploy it to PR and see what we collectively think. The defaults on this page are hideous https://www.npmjs.com/package/react-cookie-consent#examples

[2021-09-11 02:11] geeksteph commented on #131
I'll pick this up.

[2021-09-11 02:22] aar-ish commented on #92
I think it is fine now, check out the screenshot.
![vaxxnz](https://user-images.githubusercontent.com/70436870/132933006-36b73a39-4f46-44b2-ae10-074f91deb9dc.png)

[2021-09-11 02:42] aar-ish commented on #92
Should I create a pull request?

[2021-09-11 03:16] waltzaround opened #133 "Scraping issues"
**Describe the bug**
website displays wrong time

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'vaxx.nz'
2. look at some of the walk-in locations
3. compare the time

**Screenshots**

![Screen Shot 2021-09-11 at 3 13 05 PM](https://user-images.githubusercontent.com/9004833/132934451-068c3c54-d6be-425f-9af2-714774245296.png)
![Screen Shot 2021-09-11 at 3 12 22 PM](https://user-images.

[2021-09-11 03:31] noway commented on #133
i'll fix phone number as well

[2021-09-11 03:46] dialectrical commented on #123
I set the placeholder of `Select` in `LanguageSelect.tsx` to English and that seems to do the trick.

(Sorry for grabbing another "good first issue"! I can leave those for others if y'all want)

[2021-09-11 04:23] olafwrieden opened #139 "Internationalise Opening Hours"
**Is your feature request related to a problem? Please describe.**
It would be amazing for someone to internationalise the opening hours using the currently selected locale and `date-fns` library. We already do this in the calendar, but not in the opening hours.

[code]

[2021-09-11 05:05] olafwrieden commented on #131
Closing as discussed.

[2021-09-11 05:05] #131 closed

[2021-09-11 05:28] olafwrieden opened #141 "Show map with location above the Get Directions link in the booking modal"
As a user, I'd like to see the location of the vaccination location on a map in the modal (above `Get Directions`) so that I can easily find the location.

**Some ideas**

- `iFrame` map render with Mapbox
- Pained path from current location to destination
- Open to ideas

[2021-09-11 05:40] #125 closed

[2021-09-11 06:08] noway commented on #115
Partly addressed in #144, but more room for improvement.

[2021-09-11 06:22] noway opened #145 "When closing the modal for a date, for a split second it shows an empty modal"
**Describe the bug**
When closing the modal for a date, for a split second it shows an empty modal. See screenshot.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to website
2. Click on any date
3. Click outside of modal
4. For a split second, it shows an empty modal

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132938549-5d430693-d9c7-493e-a831-6b90e545c2d

[2021-09-11 06:24] noway commented on #91
![image](https://user-images.githubusercontent.com/2031472/132938630-c370a7ec-3ba7-4105-9a50-2bcd5f50a4af.png)
https://www.figma.com/file/4oWThzqdwnGO0ibpbWR3zd/Vaxxtastic?node-id=213%3A641
we got a design for this! who wants to take on this issue?

[2021-09-11 06:24] noway commented on #92
@aar-ish yes please!

[2021-09-11 06:27] noway opened #146 "Create Terms and Conditions page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when a website doesn't have T's and C's. Doesn't look very credible.

**Describe the solution you'd like**
We should write a terms and conditions or ToS file!

**Additional context**
Probably good idea to add a disclaimer there that we try our best, but we do not guarantee the correctness of data.

[2021-09-11 07:53] waltzaround opened #149 "Improve Calendar Component UI"
As a person looking for a vaccine, I want a nicer looking calendar so that i feel the site is more trustworthy, and I am m ore likekly to look for a vaccination booking

**Describe the solution you'd like**
Calender atm is a bit messy when the days dont align up as displayed below
![Screen Shot 2021-09-11 at 7 51 04 PM](https://user-images.githubusercontent.com/9004833/132940757-9b021281-7ff9-4930

[2021-09-11 07:57] olafwrieden commented on #27
@waltzaround @oeed can this issue be closed given we now have the ability to add custom locations?

[2021-09-11 07:58] #27 closed

[2021-09-11 07:58] oeed commented on #27
Indeed!

[2021-09-11 08:34] #98 closed

[2021-09-11 08:42] noway commented on #98
Well done @olafwrieden 🔥

[2021-09-11 08:51] aar-ish commented on #92
@noway Thanks a lot,This was my first experience with open source contributions

[2021-09-11 10:05] noway opened #151 "Our JS bundle is way too big"
**Describe the bug**
Our js bundle is now 1.4MB, 245kB gzipped. :sweat_smile:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. Look for this chunk:
3. ![image](https://user-images.githubusercontent.com/2031472/132944213-1d3502e4-8889-4f53-b6d6-1e25cee81611.png)
4. it's pretty big, 1.4MB, 245kB gzipped. It does get cached yes, but for new users it's a big chunk to download.

*

[2021-09-11 23:36] dialectrical commented on #126
Submitted a PR with a fix.

Since the border widths ought to be consistent, though, is there some way to centralize the modal styling so future changes don't need to go crawling through multiple files?

[2021-09-12 01:35] noway opened #158 "Missing 'Address' translation"
**Describe the bug**
There is a missing 'Address' translation to be included somewhere in the code (eventhough the translation json file as 'Address' in the 'Core')

**To Reproduce**
Steps to reproduce the behavior:

1. Go to website
2. Click on Open-today (not crowdsourced)

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132967733-ac4e35d7-37e1-4553-a239-13f538986732.p

[2021-09-12 01:52] geeksteph commented on #158
I'll pick this up. Pls assign this to me.

[2021-09-12 02:44] rquitales commented on #117
#87 contains the GH action to ensure that all files are prettified when a PR is created against the main branch. This PR is currently being blocked as not all files within the codebase is prettified yet. This needs to happen first.

[2021-09-12 03:02] noway commented on #158
Thanks @geeksteph :-)

[2021-09-12 03:02] #158 closed

[2021-09-12 03:14] noway opened #162 "Display distances less than 1km in a nicer way"
**Describe the bug**
Distances less than 1km are shown as 0km

**To Reproduce**
Steps to reproduce the behavior:

1. Go to website
2. Click on a date
3. Look for "Caring Clinic Doctors"
4. It's "0km away". It's about 100m away from city centre or something

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/132970611-7cd14f5d-ca4b-45e3-99e2-4564bce3635d.png)

**Additional c

[2021-09-12 03:19] noway commented on #117
@rquitales nice work 👍🏻  clean PR, was able to merge with no issues! I subsequently fixed the build in #161

Thanks a lot!! 💯

[2021-09-12 03:19] #117 closed

[2021-09-12 07:25] noway commented on #151
![image](https://user-images.githubusercontent.com/2031472/132977657-b189e17b-d9f9-4253-aaca-3c20ac0bbdc2.png)
Image courtesy of Minh

[2021-09-12 07:45] noway opened #167 "Better parsing for telephone number"
Right now we receive these phone numbers from the Healthpoint scraper job:
[code]

Can we come up with a parser which outputs this in machine-readable format? Stuff like `(09) 275 8598` is fine, but `(07) 873 7079  /  A/H (07) 873 8399` and some others are not.  The goal here is to comply with the `tel:` protocol which we're using on frontend:
[code]

how can we parse these phone numbers so that t

[2021-09-12 08:44] Abhijnan-Bajpai commented on #119
@olafwrieden did we get any designs for this?

[2021-09-12 08:51] olafwrieden commented on #119
Feel free to get started without one. I know there is some debate on whether this will make it into the final product as it introduces an additional step - therefore, it should be as light as possible. Please reach out to the #design or #dev chat and tag Walt (@waltzaround) for this design question.

Looking forward to what you can come up with and thank you for your contribution to vaxx.nz

[2021-09-12 09:30] olafwrieden opened #172 ""Last updated x minutes ago" fails for Maori, Samoan, and Tongan language"
**Describe the bug**
Due to our date library `date-fns`'s lack of support for `mi` / `sm` / `to` support, we need to find a way to make the experience consistent for these vital locales (in particular Te Reo Maori) before we can ship it.

As you can see, the second part of the sentence "Last updated 34 minutes ago" fails as the locale is not yet supported when passed to `date-fns`'s `formatDistanc

[2021-09-12 09:52] noway opened #173 "DX: lint-staged doesn't run on json files"
**Describe the bug**
lint-staged doesn't run on json files

**To Reproduce**

1. Create a new json file, not nicely formatted
2. Commit it
3. It gets committed without formatting

**Additional context**
need to add json to lint-staged

[2021-09-12 09:54] noway opened #174 "DX: too many files to touch to add a translation"
**Describe the bug**
to add a translation we now need to update a lot of typescript files:

 src/translations/index.ts
 src/translations/resources.ts
 src/utils/locale.ts

there's probably a way to reduce number of those places

**Additional context**
We can probably generate supported locale arrays automagically based on just one array somewhere.

[2021-09-12 09:56] olafwrieden commented on #174
Would be cool if someone can add the locale to these files programmatically when the `yarn run sync:18n` script runs.

We already have the locale code (based on translation filename) at that point, so it would just be a matter of writing it to the above-mentionedfiles.

[2021-09-12 09:59] olafwrieden commented on #174
Nice, the `supportedLngs` in `index.ts` is optional but recommended, worst case we can strip it out and reduce from 3 to 2 files.

[2021-09-12 11:03] noway commented on #54
We need a design for this :heart:

[2021-09-12 11:08] noway commented on #132
This will allow us to drop Google Maps API JS library completely and up our Lighthouse score!!

[2021-09-12 11:15] noway opened #178 "Improve our Lighthouse score"
**Is your feature request related to a problem? Please describe.**
Our Lighthouse score is not green

**Describe the solution you'd like**
Implement as many Lighthouse suggestions as we can to get the Lighthouse score better

**Additional context**
![image](https://user-images.githubusercontent.com/2031472/132985374-8751a19c-934c-4462-b83a-5b9d06ca1c57.png)

[2021-09-12 12:05] noway commented on #133
I fixed that and made a new issue for telephone numbers

[2021-09-12 12:05] #133 closed

[2021-09-12 12:05] noway commented on #123
thanks to @dialectrical for tackling this!

[2021-09-12 12:05] #123 closed

[2021-09-12 12:06] noway commented on #173
thanks to @gpoliko for fixing this!

[2021-09-12 12:06] #173 closed

[2021-09-13 06:45] noway opened #186 "Link to book my vaccine app directly"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when it takes 2 clicks when it can take just 1

**Describe the solution you'd like**
Right now we redirect to https://bookmyvaccine.covid19.health.nz/
We can redirect to https://app.bookmyvaccine.covid19.health.nz/ and save a click.

**Additional context**
The scope of this issue does NOT include deep linking,

[2021-09-13 06:50] noway opened #187 "Format slot times according to locale"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when time slots are not in my language
![image](https://user-images.githubusercontent.com/2031472/133036360-25aaa729-48be-4343-9434-1743c3704190.png)

**Describe the solution you'd like**
I've tried using `toLocaleTimeString`, but had little luck? It seemed a bit buggy, maybe just me. Maybe there's a `date-fns

[2021-09-13 07:22] noway opened #188 "Write `<Select` component which mimics `baseui/select`"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when page loads slowly due to bundle size

**Describe the solution you'd like**
Write `<Select` component which mimics `baseui/select`, but much smaller.

**Additional context**
According to Minh's findings, `baseui/select` is the biggest package in our bundle.

[2021-09-13 09:15] olafwrieden commented on #132
Just did some reading up on this, and it looks like the secret should only be supplied for server-to-server requests. It makes me think it's possible without a backend.. but would have to test this to be certain. https://addressfinder.nz/api/nz/address/reverse_geocode/

<img width="958" alt="Screen Shot 2021-09-13 at 7 12 06 PM" src="https://user-images.githubusercontent.com/42084239/133057292-ae5

[2021-09-13 11:42] rquitales commented on #132
Just looked into this, looks like it is possible to make a client to server request. Will create a PR for this soon.

[2021-09-13 22:38] noway commented on #126
Thank you!!

[2021-09-13 22:38] #126 closed

[2021-09-14 03:34] rquitales commented on #130
Looks like a simple fix within the vaxxnzlocations repo.
Just need to handle the [colon string splitting logic](https://github.com/CovidEngine/vaxxnzlocations/blob/43b0a852c9724efd273a158cc05749ebdfbaca48/healthpointLocationsOpenNow.ts#L142).

This entry contains multiple colons within the text data, and we only want to split on the first colon. Since the first colon has a space padding after it (

[2021-09-14 08:55] olafwrieden commented on #132
This was closed in #190

[2021-09-14 08:55] #132 closed

[2021-09-14 08:58] olafwrieden commented on #119
@Abhijnan-Bajpai are you still working on this? When can we expect an initial PR? If you no longer want to contribute to this, please let me know and I'll take you off the assignee list. Please also reach out as requested, in the Discord :)

[2021-09-14 09:22] Abhijnan-Bajpai commented on #119
Yea I'm still working on a skeleton model. Will reach out to the design team once I've finished the basic model.

[2021-09-14 10:34] olafwrieden commented on #41
How can we move this issue forward @waltzaround and @noway?
My idea: Similar to Contact Us, let's simply create an Airtable form.

I've looked into sending a React form as an issue or PR straight to GitHub, but it will require way too much complexity and potentially a backend to do the auth. If you agree, let's just ship this as an Airtable form instead.

Here are the fields we currently store for

[2021-09-14 10:38] olafwrieden commented on #55
@oeed what can we do to move this issue forward? Can we please add transparency into how often we scrape which types of APIs as well as where our data comes from and how it is sourced? @wseagar and @MattOfNZ could you put an API readme together to document this?

[2021-09-14 11:26] noway opened #196 "DX: husky is broken on Windows machine"
**Describe the bug**
lint doesn't automatically get applied on commit on Windows machine

**To Reproduce**
Steps to reproduce the behavior:

1. Use a windows machine
1. Edit a file in a way that makes prettier complain
2. Commit it
3. Push it up
4. GH action complains about prettier

**Screenshots**
GH action complains about prettier:
![image](https://user-images.githubusercontent.com/2031472/1332

[2021-09-14 14:08] noway commented on #17
We offer crowdsourced locations now. Cheers

[2021-09-14 14:08] #17 closed

[2021-09-14 14:11] waltzaround commented on #84
Might need a bit more logic to accomodate our rural users - nearest vaccination might be 50km away

[2021-09-14 14:11] noway commented on #85
Honestly it works perfectly fine as it is, I think it's mint.

[2021-09-14 14:11] #85 closed

[2021-09-14 22:07] Francismb commented on #54
I have started work on a quick select at the top. User will be able to select 'Morning', 'Midday', 'Afternoon', 'Evening' and that will limit the times we show and possibly the amount of locations also. I believe the idea of vaxx.nz is to show times instead of locations first which is what the government booking website got wrong right? I think we should continue heading in that direction. Keen on

[2021-09-15 01:21] noway commented on #54
@Francismb Nice. I personally like the idea. Not only sorting, but filtering too.

Let's do it 🚀

[2021-09-15 08:10] #162 closed

[2021-09-15 08:21] KevinSJ commented on #187
Hey @noway , I would like work on this. Based on code used in other components, I'm not sure what's the preferred way to implement. We could import i18next and get the language code and replace the hard coded `en-NZ` with that (similar to CalendarModalContent component), or we can wrap the parse with another format function from `data-fns`. What's the issue you were having with `toLocaleString`?

[2021-09-15 09:01] noway commented on #187
@KevinSJ `toLocaleString` would output weird string like "00:00pm" for noon for example. In terms of organising code,  doing something like https://github.com/CovidEngine/vaxxnz/blob/f118a543a1412c4645656ceb2774f94aa91fec6b/src/utils/distance.ts#L12 would be nice

[2021-09-15 09:04] noway opened #206 "A link to cancel/change my vaccination"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm booking a new vaccine, but it's hard to change my previous booking that I made before.

**Describe the solution you'd like**
Add a "Cancel/Change" button next to "Book my vaccine" button

**Additional context**
Nicola made this suggestion originally.
Designs:
![image](https://user-images.githubusercon

[2021-09-15 09:09] noway opened #207 "Refactoring: Don’t filter old bookings twice"
**Is your feature request related to a problem? Please describe.**
Right now, we filter old bookings twice: using filterOldSlots and using filterOldDates

**Describe the solution you'd like**
Remove filterOldDates completely.

**Additional context**
I tried doing it, but crowdsourced locations would start duplicating on the page. I think this is because filterOldDates creates a deep copy of `Booki

[2021-09-15 09:12] noway commented on #186
With deep linking, this is no longer needed.

[2021-09-15 09:12] #186 closed

[2021-09-15 10:21] #114 closed

[2021-09-15 10:43] noway opened #212 "Shareable link for calendar day modal"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't share a calendar day with my friends/family

**Describe the solution you'd like**
A shareable link for calendar day modal.

**Additional context**
Use react-router I guess

[2021-09-15 11:40] noway commented on #130
This should be fixed next time cron job is run 🙏🏻  (i tested it, i hope it works in prod)

[2021-09-16 02:34] rquitales commented on #130
@noway Looks like we can close this issue now!

[2021-09-16 02:37] #130 closed

[2021-09-16 03:25] aar-ish commented on #206
Hey @noway I would like to contribute to this issue

[2021-09-16 09:46] MinhPhu0304 commented on #145
Fixed with PR

[2021-09-16 09:46] #145 closed

[2021-09-17 05:44] #187 closed

[2021-09-17 05:56] noway opened #221 "Locations are not hidden in Date Modal if availability was updated to zero via the real-time MOH update"
**Describe the bug**
Locations are not hidden in Date Modal if availability was updated to zero via the real-time MOH update

**To Reproduce**
Steps to reproduce the behavior:

1. Go to website
2. Click on a very in-demand day like today
3. Real time update will kick inn
4. If the location becomes fully booked out, it is still visible.

**Screenshots**
![Screen Shot 2021-09-17 at 5 41 43 PM](https

[2021-09-17 05:58] noway opened #222 "Update booking instructions"
**Describe the bug**
Selecting location and time is no longer required on MOH website since we implemented deep linking, but we still have an instruction for that.

**To Reproduce**
Steps to reproduce the behavior:

1. Click into Calendar Date
2. Observe outdated instructions

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/133731978-19badf10-d4f2-4a17-8733-870d6262ae29.

[2021-09-17 12:53] olafwrieden commented on #119
Shipped in #201

[2021-09-17 12:53] #119 closed

[2021-09-17 13:02] olafwrieden commented on #90
I believe `Use URL search params as lat/lng/placeName 'state'` has been implemented. If not, please reopen. From my understanding of the task, I can see `?placeName=` in the URL and believe state is populated accordingly.

[2021-09-17 13:02] #90 closed

[2021-09-17 13:14] #174 closed

[2021-09-17 13:24] olafwrieden commented on #196
@noway can you confirm that this was closed in #198, then close the issue?

[2021-09-18 23:43] JacksonLaw commented on #221
I'll try fix this today

[2021-09-19 00:26] bookwyrm31415 commented on #167
I'll can do this one

[2021-09-19 01:33] JacksonLaw commented on #221
https://github.com/CovidEngine/vaxxnz/pull/225

[2021-09-20 03:14] noway commented on #196
should be good 👍🏻

[2021-09-20 03:14] #196 closed

[2021-09-20 05:35] rodrigohdiaz commented on #146
I'm working on this

[2021-09-20 08:28] Supesu commented on #91
Hey! I'd be willing to have a go at tackling this problem

[2021-09-20 08:29] Supesu commented on #91
Hey! I'm willing to have a go at tackling this

[2021-09-20 13:12] noway commented on #167
@bookwyrm31415 thanks, nicely done! 💯

[2021-09-20 13:12] #167 closed

[2021-09-20 13:14] noway commented on #221
nicely done @JacksonLaw 💯

[2021-09-20 13:14] #221 closed

[2021-09-20 13:22] noway opened #232 "Add error state for calendar date page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when booking date fails but i don't see a legible error

**Describe the solution you'd like**
Add an error state

**Additional context**
Was left out of scope, need to implement

[2021-09-20 13:22] noway opened #233 "Add error state for location page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when location page fails, but i don't see legible erro

**Describe the solution you'd like**
Add error state for location page.

**Additional context**
Was left out of scope

[2021-09-20 13:28] noway opened #234 "Scroll is a bit janky if you go into a calendar day page"
**Describe the bug**
When on mobile, going to calendar day page flickers.

**To Reproduce**
Steps to reproduce the behavior:

1. Open vaxx.nz on a phone
2. Scroll down a few screens
2. Click on a date
3. Observe a flicker between page changes

**Screenshots**
![image](https://user-images.githubusercontent.com/2031472/134010086-18d6714f-4450-42dd-8e5a-66fb98bae0d2.png)
![image](https://user-images.

[2021-09-21 07:25] noway opened #236 "Scroll to top when clicking on a location on a location page"
**Describe the bug**
On a location page, we have blocks which link to other locations. Clicking on them doesn't scroll to top.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz
2. Click on walk-in/drivethrough
3. Click on a location
4. Scroll to the bottom
5. scroll on a location
6. observe that scroll is not reset

**Additional context**
Add a new if statement in useSaveScroll

[2021-09-21 08:28] #222 closed

[2021-09-21 08:32] noway opened #239 "Remove crowdsourced locations which been listed on healhthpoint"
**Describe the bug**
Remove crowdsourced locations which been listed on healthpoint

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz
2. Find auckland airport
3. It's listed twice

**Additional context**
Build a collision finder which removed crowdsourced locations

[2021-09-21 10:06] #239 closed

[2021-09-21 11:27] noway commented on #41
We should redirect them to healthpoint instead. An FAQ entry which lists Healthpoint contact?

[2021-09-21 11:28] noway opened #241 "Add FAQ"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when users are asking frequently asked questions

**Describe the solution you'd like**
An FAQ page

**Additional context**
questions:

Contact Healthpoint

[2021-09-21 11:32] noway commented on #207
I actually think we should filter them twice. That helps with performance. Once on load, which is cached. And then second time for real time stuff in the modal.

[2021-09-21 11:32] #207 closed

[2021-09-21 11:33] noway commented on #212
This has been implemented with the pages. Props to @wseagar

[2021-09-21 11:33] #212 closed

[2021-09-21 12:40] noway opened #243 "Update our OpenGraph image and favicon"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when our OG image and favicon use red color and not blue

**Describe the solution you'd like**
Change it to blue, like on https://widget.vaxx.nz

**Additional context**
Need resources from @mollyderecourt for this

[2021-09-21 12:44] noway commented on #243
Molly posted those in #design channel on Discord

[2021-09-21 13:37] #83 closed

[2021-09-21 15:05] olafwrieden commented on #91
@Supesu I know you are actively working on this but do give us a progress update during the day tomorrow and liaise with the team here if you have design / responsiveness questions. Beyond this, would you be keen to give #233 a shot?

[2021-09-21 15:16] Supesu commented on #91
@olafwrieden Hey! sorry about the time it's taking although its lockdown I've still got to deal with highschool (zzz) and a couple of commissions. had a chat to Walt and Ilia earlier and i'll make sure to relay to you guys if I come across any problems / queries. I'm currently working on making it overlay the two buttons (make a booking & walk in / drive through) although after that's complete it'

[2021-09-21 21:39] nzjs commented on #141
Mapbox GL would be a good option as they are [actively supporting COVID-19 related applications](https://blog.mapbox.com/support-for-covid-19-apps-497de40fee9c), both financially and with technical support.

You could also use their [Directions API](https://docs.mapbox.com/help/getting-started/directions/) to display a route from the current location to selected destination.

Another option for a

[2021-09-22 08:36] olafwrieden commented on #91
Merged in #249

[2021-09-22 08:36] #91 closed

[2021-09-22 08:39] #206 closed

[2021-09-22 08:42] Supesu commented on #188
i'll have a go at this

[2021-09-22 09:03] JacksonLaw commented on #234
https://github.com/CovidEngine/vaxxnz/pull/252

[2021-09-22 09:07] olafwrieden opened #253 "Missing Translations"
Need to internationalise these parts:

**1. Calendar.tsx** - @geeksteph
<img width="1639" alt="Screen_Shot_2021-09-22_at_6 59 50_PM" src="https://user-images.githubusercontent.com/42084239/134315000-e883a51a-e13c-427b-8f8a-1b4b0c7a5c90.png">

**2. Fix this:**
<img width="1158" alt="Screen Shot 2021-09-22 at 7 06 03 PM" src="https://user-images.githubusercontent.com/42084239/134315455-11471067-f23e

[2021-09-22 09:10] noway opened #254 "Available label is not properly aligned on Safari"
**Describe the bug**
Available label is not properly aligned on Safari

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz on Safari
2. Observer Available label not properly aligned

**Screenshots**
safari:
![image](https://user-images.githubusercontent.com/2031472/134315984-4237301d-8e8f-4f74-bef8-593cbfe6eb45.png)
chrome:
![image](https://user-images.githubusercontent.com/203147

[2021-09-22 09:18] geeksteph commented on #253
@olafwrieden For #2, do you mean we want to change the "sectionHeader" to "Other Vaccination Locations Open Today" in common_en-NZ.json?

[2021-09-22 09:19] #234 closed

[2021-09-22 09:26] olafwrieden commented on #253
No that part does not need to be changed in translations, please make this change in code:
<img width="1381" alt="Screen Shot 2021-09-22 at 7 22 07 PM" src="https://user-images.githubusercontent.com/42084239/134318495-fa03cc43-7fdf-409c-be0d-d299488084d9.png">

[2021-09-22 09:38] geeksteph commented on #253
@olafwrieden I'm not familiar with typescript and React. For CalendarError.tsx, which of the below should I import for it to recognise the t in {t("core.mistake")} ?

- import { useTranslation } from "react-i18next";

- import i18next from "i18next";

-

[2021-09-22 09:59] olafwrieden commented on #253
You'll need `import { useTranslation } from "react-i18next";`

`const { t } = useTranslation("common");`

Then you can do something like: `<h2>{t("walkins.sectionHeader")}</h2>` -> or whatever the translation key is

[2021-09-22 10:16] geeksteph commented on #253
I have done the changes plus extra missing ones I found. Compile and hit error, pls advise. Refer pull request #251

[2021-09-22 12:10] olafwrieden commented on #253
Closed in #251

[2021-09-22 12:10] #253 closed

[2021-09-22 12:36] wseagar commented on #41
Closing this as we're not doing it. Contact form works good enough and we don't want to maintain a database of locations. Should redirect people to healthpoint.

[2021-09-22 12:36] #41 closed

[2021-09-23 00:15] noway commented on #141
@nzjs that's awesome! We're already using Google Maps iframe embed here though (https://vaxx.nz/locations/the-auckland-city-doctors-2076593017), that one is actually free. If we just do the map without directions, that would be an easier solution!

Would love for you take on that task and tackle it :-)

[2021-09-23 09:09] noway opened #263 "DX: Fix postinstall script on Windows"
**Describe the bug**
postinstall script fails on Windows

**To Reproduce**
Steps to reproduce the behavior:

1. Yarn install on Windows
2. Observe that postinstall fails

**Additional context**
The script was written for unix environment in mind

[2021-09-23 10:46] noway commented on #254
Props to @keison-tang for solving this! 🙏🏻

[2021-09-23 11:19] #243 closed

[2021-09-24 00:45] noway commented on #146
thanks to @rodrigohdiaz for getting this done 💯

[2021-09-24 00:45] #146 closed

[2021-09-24 00:46] noway commented on #129
@rodrigohdiaz PR's solved this 💯

[2021-09-24 00:46] #129 closed

[2021-09-24 05:24] noway opened #268 "Remove `react-markdown` to reduce bundle size"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when site is loading slow because of big size of `react-markdown` package
![image](https://user-images.githubusercontent.com/2031472/134622611-db99ff63-ea80-4040-9ba3-927d7e3f13c4.png)

**Describe the solution you'd like**
Remove `react-markdown`.

**Additional context**
We only use it for privacy-policy, term

[2021-09-24 05:27] noway opened #269 "Improve legal pages styling"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when looking at our legal pages, but the styling on them is not-ideal.

**Describe the solution you'd like**
Style them better. Also add `<a href` where appropriate.

**Additional context**
![image](https://user-images.githubusercontent.com/2031472/134622842-caa8417d-5c93-4e12-b120-b4492ec5998e.png)
https://va

[2021-09-24 05:37] noway opened #271 "Add a proper About page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when we're linking away to README.md instead of hosting the About page on the actual website.

**Describe the solution you'd like**
We need an about page with a lot of content for the SEO juice. The history behind us, what service we're providing, all the other useful bits we're putting into README.md atm.

**

[2021-09-24 05:38] noway commented on #271
@mollyderecourt I think you've been assigned to tackle this by Walt before. Some more context above.

[2021-09-24 05:42] noway opened #272 "When our GitHub endpoints return a non-JSON result, show a nice error page."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when we have an outage, and we're not showing a nice error on the frontend.

**Describe the solution you'd like**
When outage happens, our GitHub endpoints (healhpointLocations.json, uniqLocations.json, availability/*.json) show an empty resonse. This fails the Fetch library during parsing (`const data = await

[2021-09-24 05:45] noway opened #273 "Add healthpoint locations to the calendar"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when there are no BookMyVaccine slots, but a walk-in/drive thru location is available and i can't see it on the calendar.

**Describe the solution you'd like**
Add Healthpoint locations to the calendar

**Additional context**
Would require parsing opening hours, so tangentially helps solve #139

[2021-09-24 05:54] noway opened #274 "Show better error when there are no locations around you"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when all I see is an empty calendar when there are no locations around me

**Describe the solution you'd like**
Show proper error when there are no locations around me. Say something like, "no vaccination sites around the selected area"

**Additional context**
![image](https://user-images.githubusercontent.com

[2021-09-24 05:59] noway opened #275 ""Walk-in and Drive Thru" locations should be 'Available Right Now' rather than 'Open today'"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when it's 5:30pm, but vaxx.nz is still showing me "The Auckland City Doctors" which is open only til 5:00pm.
![image](https://user-images.githubusercontent.com/2031472/134625609-3aab4bbf-820a-4747-a721-27f55040f68b.png)

**Describe the solution you'd like**
Instead of filtering "Walk-in and Drive Thru" locatio

[2021-09-24 06:07] noway commented on #268
Assigning @shikharvashistha to this

[2021-09-24 06:08] noway opened #277 "Advanced SEO optimisations"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when our SEO is not ideal.

**Describe the solution you'd like**
- [ ] Implement JSON LD/structured data
- [ ] Implement Feature guides https://developers.google.com/search/docs/advanced/structured-data/special-announcements
- [ ] alt tags
- [ ] schema.org/sitemap
- [ ] make the whole website static/cacheable?

[2021-09-24 06:43] noway opened #278 "DX: Switch `<Spinner` to `<StyledSpinnerNext` from baseui"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when baseui complains about deprecated Spinner
![image](https://user-images.githubusercontent.com/2031472/134629843-b13ee88b-354b-4773-a11e-4e5216897324.png)

**Describe the solution you'd like**
Switch to `StyledSpinnerNext`

**Additional context**
The spinner is this.
![image](https://user-images.githubuserc

[2021-09-24 07:06] Legendarytruth commented on #278
Hey if possible I would like to take a crack at it!

[2021-09-24 07:29] keison-tang commented on #254
Just noticed the same issue for walk-in opening times on Safari, reopen the issue and I'll make another PR 😊

[2021-09-24 07:50] noway commented on #278
@Legendarytruth sweet! assigned you

[2021-09-24 08:27] noway commented on #254
Oh good catch, please do! 🙏

[2021-09-24 08:54] noway commented on #278
Thanks for solving this!

[2021-09-24 08:54] #278 closed

[2021-09-24 09:04] noway opened #282 "Migrate to nextjs in order to utilise SSE"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when our website is not frequently crawled by Google

**Describe the solution you'd like**
Migrate to nextjs and utilise SSR.

**Additional context**
This is a big project

[2021-09-24 09:06] noway commented on #282
@shanonjackson I believe was 50% there with the migration 🙏

[2021-09-24 09:46] noway commented on #151
![image](https://user-images.githubusercontent.com/2031472/134654760-71ad7acf-7054-4b4e-97de-c5b68f6ecd5c.png)
Latest screenshot

[2021-09-24 10:06] noway opened #285 "Image elements do not have explicit width and height"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I see Cumulative Layout Shift on the website

**Describe the solution you'd like**
Set explicit width and height on images

**Additional context**
![image](https://user-images.githubusercontent.com/2031472/134657419-49050937-10f6-4133-a6fa-055b914ddd31.png)

[2021-09-24 14:29] noway opened #289 "Inline `react-cookie-consent` package"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when bundle size is too big

**Describe the solution you'd like**
Inline `react-cookie-consent` package into our code.

**Additional context**
`react-cookie-consent` is 12.8KB (4.6KB gzipped), surely we can make it leaner by rolling our own version.

[2021-09-25 10:23] noway commented on #188
Hi @Supesu, we've recently removed `react-markdown`, so `baseui/select` is the next biggest package to remove in our bundle 🚀
![image](https://user-images.githubusercontent.com/2031472/134768004-a23b8bc7-11b0-4b12-8bb0-c289e480d7cf.png)

Looking forward to your work!

[2021-09-25 22:24] keison-tang commented on #149
Hey @waltzaround,

I had a go at this without padding additional grid elements, here's how it looks:

![image](https://user-images.githubusercontent.com/20856129/134787194-5823664a-ad7e-48a1-9752-6b56170be00c.png)

Let me know what you think? If you still like the empty space padded with empty divs, I could try that too
Thanks

[2021-09-26 11:55] anandamideShakyan commented on #285
I would like to work on this issue thank you

[2021-09-27 00:38] noway commented on #285
@anandamideShakyan yes, please!

[2021-09-27 02:04] rodrigohdiaz commented on #241
@olafwrieden yes, I can work on this one unless anyone else is already working on it

[2021-09-27 02:09] olafwrieden commented on #241
Go for it!

[2021-09-27 06:16] rodrigohdiaz commented on #241
@olafwrieden question, is there any text for the frequently asked questions for me to add there?

[2021-09-27 06:18] olafwrieden commented on #241
Please ask this in the dev channel on Discord. Things like: How often does the data refresh? How can I share it with others? How do I contribute etc..

[2021-09-28 00:02] nzjs commented on #141
@noway Sure I can take a look at this, I hadn't noticed that embed. Is the Google API costing anything right now?

So to clarify, you would like the current G Maps iframe replaced with one of the other mapping APIs as a component.
Referring to this: https://github.com/CovidEngine/vaxxnz/blob/main/src/today-locations/healthpoint/HealthpointModal.tsx#L200-L209

Or are we talking about adding a new s

[2021-09-28 00:05] noway commented on #141
Yeah, adding a small map there. It does mean we'll have a lot of small maps on that page @waltzaround is that a good idea?

[2021-09-28 10:00] JacksonLaw commented on #149
Hi @keison-tang, that looks great :)
It'd be good if those end boxes weren't such a dark colour. If you could take a look at changing that with empty divs or some other way I'm sure it would improve the UI a lot 👍

[2021-09-29 04:16] haunanipao opened #295 "Made with 💜 from Aotearoa"
I'm just capturing this while Aotearoa is in the media discussion landscape and I was talking to Walt about it on discord.  I know there's a lot of diversity and that this is made with a lot of love for those putting in the hours and satisfying their curiosity palette.  When you get to that moment that you want to share and celebrate, just add to this idea. :)

**Describe the solution you'd like**

[2021-09-29 06:04] noway commented on #295
That's a gerat idea!

[2021-09-29 06:08] noway opened #296 "Replace inline styles with styled-components"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the page flickers when loading on slow connections

**Describe the solution you'd like**
Replace inline styles with styled-components, so that styles can be injected earlier during the rendering. This will also allow us to render them in a separate .css file when we get SSR sorted.

**Additional context**

[2021-09-29 09:21] keison-tang commented on #149
Hey @JacksonLaw

Here it is with placeholder grid items. I wasn't too sure about mobile / smaller width screens since I would need to implement some sort of dynamic hiding based on how many grid cols there are (?). So, if there's less than 7 columns on display then all the extra grid items get hidden and it looks how it is atm.

<img width="807" alt="Screen Shot 2021-09-29 at 10 16 49 PM" src="htt

[2021-09-29 13:04] noway commented on #149
Omg, that looks awesome!

[2021-09-29 13:05] noway commented on #149
That sounds fine, wanna open a PR?

[2021-10-01 08:02] Just-Kundai commented on #295
Hi, I am a beginner programmer and I would like to give this a shot.

[2021-10-02 01:21] noway commented on #295
hey @Just-Kundai please go ahead!

[2021-10-02 01:26] noway commented on #296
Been partly addressed in #298 but still a lot of styles to inline

[2021-10-02 02:13] haunanipao commented on #295
hello interested peeps, maybe we can start chatting it up and ideate. :) I'm happy to play with you Kundai :).

[2021-10-03 04:48] Bhavin789 commented on #115
Hello @noway, I can try to have a look at few areas of the code to see where can it be improved. I might not be able to check all at once but, maybe one at a time? Let me know if that sounds ok. Thanks!

[2021-10-03 05:05] noway commented on #115
@Bhavin789 yes please do!

[2021-10-03 12:11] #188 closed

[2021-10-03 12:38] noway opened #301 "Fix remaining ARIA checks"
**Is your feature request related to a problem? Please describe.**
ARIA is very important for website accessibility. As @waltzaround says, you can't just claim you are accessible, you gotta make your website to be so.

**Describe the solution you'd like**
Fix accessibility checks in Lighthouse:
![image](https://user-images.githubusercontent.com/2031472/135754004-bcbbfa1e-70f5-4f4a-ac9c-614374eb3de

[2021-10-03 13:15] noway opened #302 "Replace `styled-components` with `styletron-react`"
**Is your feature request related to a problem? Please describe.**
Our bundle size continuous to be a big priority for us in order to reduce Core Web Vitals.
`styled-components` takes up 34KB of our bundle (unzipped).

**Describe the solution you'd like**
Switch `styled-components` to `styletron-react` since `baseui` already forces us to use `styletron-react`.

[2021-10-03 13:22] noway opened #303 "Replace `react-responsive` with proper media queries"
**Is your feature request related to a problem? Please describe.**
Our bundle size continuous to be a big priority for us in order to reduce Core Web Vitals.
`react-responsive` takes up 45KB of our bundle.

**Describe the solution you'd like**
Replace `react-responsive` with proper media queries.

**Additional context**
This would require changing some components from using inline styles to using

[2021-10-04 02:38] Supesu commented on #303
Yeah i'll be down to take this on

[2021-10-04 10:07] #303 closed

[2021-10-05 12:08] CoderYihaoWang opened #310 "Cancel button on `HealthpointModal` is misleading"
**Describe the bug**

Please see the screenshot. The "Cancel" button (outlined) is misleading, especially when it is translated into other languages e.g. Chinese.

Clicking on this "Cancel" button, we will be redirected to the walk-in locations page. So here "Cancel" means "Go back" which kind of makes sense in English.

However, the i18n key is defined as `walkins.cancelBooking`. So, translations

[2021-10-05 20:43] CoderYihaoWang commented on #310
I can submit a PR to update the Chinese translations as well as update the i18n key to `walkins.back` (what do you think?) But we'll need others' help to update the translations to other languages : )

[2021-10-06 05:55] #296 closed

[2021-10-06 05:55] #302 closed

[2021-10-18 07:03] #275 closed

[2021-10-18 10:55] #263 closed

[2021-10-24 02:05] isaacy2012 opened #317 "RangeError: style must be either "decimal", "percent", or "currency" when Walk-In/Drive-Thru"
**Describe the bug**
Page does not load at all, console shows
`RangeError: style must be either "decimal", "percent", or "currency" - locale.ts:56`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz
2. Click on 'Walk-In/Drive-Thru' on Sunday 2:45pm
3. Page does not load properly

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device:**

- Device:

[2021-10-31 11:26] isaacy2012 opened #322 "Minor: "Report error" button in CalendarError should be title cased to "Report Error" and use localization"
**Describe the bug**
A very minor issue, "Report error" button has a lower case "error", when it should be capitalized to "Error" to be consistent with the title casing of the buttons on the rest of the site.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz
2. Get the calendar to an error state
3. Observe the "Report error" button

**Additional Context**
The incorrect text is l

[2021-11-03 00:39] #322 closed

[2021-11-03 04:18] #274 closed

[2021-11-08 08:45] olafwrieden opened #324 "Calendar Months Reordered - November, January, December"
**Describe the bug**
November, January, December 🤔🤯

<img width="1613" alt="Screen Shot 2021-11-08 at 6 42 39 PM" src="https://user-images.githubusercontent.com/42084239/140710676-7540fc45-7700-4ea5-b2ca-9441d1a98b8b.png">

[2021-11-08 09:02] noway commented on #324
oh noes

[2021-11-09 11:29] noway opened #326 "Replace all the mentions of CovidEngine with vaxxnz"
We've renamed the org from `CovidEngine` to `vaxxnz`. GitHub automatically handles redirects, so it's not an issue. But to have tidy code and better SEO, we need to replace all the old links with the new ones (CovidEngine->vaxxnz).

[2021-11-12 12:33] #326 closed

[2021-11-16 05:33] noway commented on #269
This has been resolved

[2021-11-16 05:33] #269 closed

[2021-11-16 05:33] noway commented on #268
This has been resolved

[2021-11-16 05:33] #268 closed

[2021-11-16 05:33] noway commented on #241
We now have a small FAQ

[2021-11-16 05:33] #241 closed

[2021-11-16 05:34] noway commented on #236
This has been resolved

[2021-11-16 05:34] #236 closed

[2021-11-16 05:34] noway commented on #254
This has been resolved

[2021-11-16 05:34] #254 closed

[2021-11-16 05:35] noway commented on #115
This has been less of an issue recently, so closing.

[2021-11-16 05:35] #115 closed

[2021-11-16 05:36] noway commented on #241
Would love to extend our FAQ with more info though! So open to making a new issue to extend our FAQ

[2021-11-16 05:38] noway commented on #151
This is much less of an issue now, but any improvement is welcome!

[2021-11-16 05:38] noway commented on #310
This has been addressed!

[2021-11-16 05:38] #310 closed

[2021-11-16 05:40] noway commented on #149
This has been resolved

[2021-11-16 05:40] #149 closed

[2022-01-04 02:46] noway opened #328 "Back button has incorrect margin on mobile"
**Describe the bug**

Back button has incorrect margin on mobile

**To Reproduce**

1. Go to https://vaxx.nz/locations/life-pharmacy-birkenhead-474356434
3. Scroll down
4. See broken margin

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/2031472/148002863-1cd5c014-2a69-48ff-8f55-1aa33ae46c5e.png)

**Device:**

- Devic

[2022-01-04 02:52] noway opened #329 "When location is missing, the page location looks broken"
**Describe the bug**

When location is missing from our dataset (was removed from health point for example), the location page looks broken

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://vaxx.nz/locations/epsom-vaccination-centre-1081960323
4. See broken page

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserc

[2022-01-04 05:28] #328 closed

[2022-01-09 17:55] Abhijnan-Bajpai commented on #329
Hey @noway, I would like to work on this. Could I be assigned?

[2022-01-09 18:07] noway commented on #329
@Abhijnan-Bajpai please go ahead!

[2022-01-11 01:33] nzjc opened #331 "Section/Filter for kids 5-12 vax availability"
With the upcoming (next week) availability of vaccines for smaller kids from age 5 up, it would be awesome to have a way to see places that are offering the kids shot.  There doesn't currently seem to be a public/easy way to find this info, so it's possible it's not even in the source data vaxxnz uses - however it would be a great addition if it were possible to add a "5 to 12" filter or section t

[2022-01-17 05:58] tingeypa opened #332 "Location links don't match location clicked for walk-in"
**Describe the bug**
As a user wanting to see details of a walk-in location, when clicking on a location link, the location shown does not match location clicked, at 6:37pm on Mon 17th Jan.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vaxx.nz
2. Click on 'walk-in/Drive Thru' (the time is 6:37pm)
3. Hover the mouse over a location
4. Note the link in the browser status bar does not

[2022-01-18 05:27] #332 closed

[2022-02-03 22:10] sleemanj opened #334 "Last updated is a long time ago (Months)"
**Describe the bug**
I don't know if this is normal, but I thought the last updated would be ~every 30 minutes, but locations are reporting last updated several months ago.

**To Reproduce**
Open site, look at last updated.

**Screenshots**
![lu](https://user-images.githubusercontent.com/207209/152437426-45dead53-3525-47d4-811b-85d0b57ed880.jpg)

**Device:**

98.0.4758.66 (Official Build) beta (64

[2022-02-03 22:17] sleemanj commented on #334
404's from githubusercontent

![lu1](https://user-images.githubusercontent.com/207209/152438445-599e1007-7f87-40f8-96e8-7927f3c66d35.jpg)

[2022-02-03 23:22] waltzaround commented on #334
Investigating after work today - please hold caller

[2022-02-04 06:45] noway commented on #334
The `node ./lib/availability.js` job got stuck. I killed the process. The job restarted and the availability scraping continued as normal.

I've added a cronjob which fires off at 02:15AM every day to kill `node ./lib/availability.js` job just in case.

It would be nice to add [monitoring](https://github.com/vaxxnz/vaxxnzlocations/issues/17) at some point in the future.

[2022-02-04 06:45] #334 closed